:root {
	--large-text-size: 1.8rem;
	--medium-text-size: 1.25rem;
	--small-text-size: 1rem;
	--extra-small-text-size: 0.8rem;

	--mobile-large-text-size: 1rem;
	--mobile-medium-text-size: 0.8rem;
	--mobile-small-text-size: 0.64rem;
	--mobile-extra-small-text-size: 0.512rem;

	--primary-dark: #454545;
	--secondary-dark: #667070;
	--tertiary-dark: rgba(45, 45, 45, 0.65);
	--primary-light: #ffffff;
	--secondary-light: #f0f5f8;

	--primary-font-family: 'Roboto', sans-serif;
}
