header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 3rem;
	width: 100%;
	margin: 1rem 0;
}

.header__hamburger-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 2.5rem;
	height: 1rem;
	color: var(--primary-dark);
}

.header__hamburger-menu div {
	width: 100%;
	height: 0.15rem;
	background: var(--primary-dark);
}

.header__hamburger-menu :nth-child(2) {
	width: 65%;
}

.header__logo {
	width: 2.5rem;
	height: 100%;
	background: url(/_app/assets/icons/earth_icon.svg) center / 2.5rem no-repeat;
	animation: rotate360 10s linear infinite;
}

.header__logo:hover {
	animation-play-state: paused;
}

@keyframes rotate360 {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
